body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/065/723/original/pexels-mali-maeder-246658.jpg?1675465629");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
  font-size: 42px;
  line-height: 80px;
  text-align: left;
  margin-top: 40px;
}

h2 {
  color: black;
  font-size: 30px;
  text-align: center;
}

.container {
  max-width: 600px auto;
  margin: 20px 40px;
  background-color: rgba(255, 255, 255, 0.602);
  border-radius: 10px;
}

p {
  font-size: 24px;
  color: black;
  text-align: center;
}

footer {
  text-align: center;
  margin: 10px 0;
  color: black;
  font-size: 16px;
}

button {
  display: grid;
  margin: auto;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #1b2c3c;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #1b2c3c;
  text-align: center;
}

button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #1b2c3c;
}

button:active {
  transform: scale(0.9);
}

.books-heading {
  text-align: center;
}

.books-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
}

.book-image {
  border-radius: 5px;
}

.book-image:hover {
  filter: brightness(0.75);
}
.book-image-wrapper {
  justify-self: center;
  padding: 4%;
  position: relative;
}

@media (max-width: 600px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  button {
    font-size: 12px;
  }

  .books-grid {
    grid-template-columns: 100%;
  }
}
